# bash exports

# Define a few Color's
Black='\e[0;30m'
BLUE='\e[0;34m'
GREEN='\e[0;32m'
CYAN='\e[0;36m'
RED='\e[0;31m'
PURPLE='\e[0;35m'
BROWN='\e[0;33m'
LIGHTGRAY='\e[0;37m'
DARKGRAY='\e[1;30m'
LIGHTBLUE='\e[1;34m'
LIGHTGREEN='\e[1;32m'
LIGHTCYAN='\e[1;36m'
LIGHTRED='\e[1;31m'
LIGHTPURPLE='\e[1;35m'
YELLOW='\e[1;33m'
WHITE='\e[1;37m'
NC='\e[0m'

# if running interactively, then:
if [ "$PS1" ]; then
    #export PS1='\u@\h:\w > '
    export TERM=xterm
    export EDITOR=vim
    set -o vi

    PS1="${LIGHTGRAY}#${GREEN}[${LIGHTBLUE}\t${GREEN}] "   # time 24h
    PS1+="${LIGHTRED}\u${GREEN}@${YELLOW}\h${GREEN}:"      # user and hostname
    PS1+="${PURPLE}\w${LIGHTGRAY} "                        # pwd
    PS1+="\$(prompt_git \"${white} on ${violet}\")"        # Git repository details
    PS1+="\n";
fi

# personal bin always comes first
export PATH="$HOME/bin:/usr/local/bin:/usr/local/sbin:$PATH"

# larger bash history
export HISTSIZE=32768
export HISTFILESIZE="${HISTSIZE}"
export HISTCONTROL=ignoredups
# make some command not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date:* --help"

# prefer us english and use utf-8
export LANG="en_US.UTF-8"
export LC_ALL="en_US.UTF-8"

# highlight section titles in man pages
export LESS_TERMCAP_md="${ORANGE}"

# don't clear screen after quitting man page
export MANPAGER="less -X"

# always enable colored `grep` output
export GREP_OPTIONS="--color=auto"

export CC=gcc

# python virtualenv dir
export WORKON_HOME=~/.virtualenvs
